# Node modules
node_modules/

# Build output
dist/

# Environment variables
.env
.env.*

# Logs
logs/
*.log

# Legacy folders (NO versionar)
api-v1/
api-v2/
legacy/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db